@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.bg-intro {
    background-image: url("../public/images/bg-3.svg");
    background-repeat: no-repeat;
    background-position: calc(100vw / 2 - 80px) 70px;
}
.bg-about-me {
    background-image: url("../public/images/bg-4.svg");
    background-repeat: no-repeat;
    background-position: calc(100vw / 2 - 636px) 36px;
}
.bg-text {
    background: linear-gradient(205deg, #420dbd 63%, #6e46e5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
